 <diV class="bg-orange d-flex justify-content-center border rounded"><form>
            <ul>
                <li>
                    <label>Username</label>
                    <input type="text">
                </li>
                
                <li>
                    <label>email</label>
                    <input type="text">
                </li>
                
                <li>
                    <label>password</label>
                    <input type="text">
                </li>
            </ul>
        </form>
</diV>
