@import "./colors.scss";

nav{ 
    a{
        color: $primary;
        padding: 0.5em;
        margin: 0;
        &::hover{
            color: $secondary;
            
    
        }
    }
    
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-color: $gray;
    border: 10px;
    border-bottom-right-radius: 5%;
    background-attachment: fixed;

    img{
        justify-content: left;
        align-self: flex-start;
    }
}

.mainWindow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $light;
}

.loginWindow{
    display: flexbox;
    justify-content: center;
    height: 80vh;
    width: 20vh;
}